@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #131722;
  --font-size-16: 16px;
  --font-urbanist: "Urbanist", sans-serif;
}

body {
  background: var(--background);
  font-family: var(--font-urbanist);
  font-size: var(--font-size-16);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.logo-edge21{
  max-width: 200px
}
.wifi-icon{
  transform: rotate(45deg) !important;
}

::-webkit-scrollbar {
  width: 8px;  /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: #2d2d2d;  /* Background of the scrollbar track */
}

::-webkit-scrollbar-thumb {
  background-color: #222831;  /* Color of the scrollbar thumb */
  border-radius: 20px;  /* Roundness of the scrollbar thumb */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;  /* Hover effect for scrollbar thumb */
}
.red-color{
  color: red;
}

@media only screen and (max-width: 768px) {
.mob-w-50{
  width: 50% !important;
}
}
/* Styling for calendar icon in Webkit browsers */
input[type="datetime-local"]::-webkit-calendar-picker-indicator {
  filter: invert(100%); /* Inverts the default color to white */
  padding: 0 5% 0 20%;
  text-align: center;
}

/* For Firefox */
input[type="datetime-local"]::-moz-calendar-picker-indicator {
  filter: invert(100%);
  padding: 0 5% 0 20%;
}
/* For Microsoft Edge */
input[type="datetime-local"]::-ms-clear,
input[type="datetime-local"]::-ms-expand {
  filter: invert(100%);
  padding: 0 5% 0 20%;
}

.custom-loader {
  margin: 0 auto;
  width: 50px;
  aspect-ratio: 1;
  --_c:no-repeat radial-gradient(farthest-side,#25b09b 92%,#0000);
  background: 
    var(--_c) top,
    var(--_c) left,
    var(--_c) right,
    var(--_c) bottom;
  background-size: 12px 12px;
  animation: l7 1s infinite;
}
@keyframes l7 {to{transform: rotate(.5turn)}}